<!DOCTYPE html>
<html class="fundoBV" lang="pt-br"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><script type="text/javascript" async="" src="meta_arquivos/insight.js"></script><script src="meta_arquivos/1581301538575800.js" async=""></script><script src="meta_arquivos/1904606239799498.js" async=""></script><script async="" src="meta_arquivos/fbevents.js"></script><script async="" src="meta_arquivos/analytics.js"></script><script type="text/javascript">
  (function(c,o,n,p,a,ss){
    c.cp=c.cp||function(){(c.cp.q=c.cp.q||[]).push(arguments)};
    c.cpt=p;a=o.getElementsByTagName('head')[0];ss=o.createElement('script');
    ss.async=1;ss.src=n;a.appendChild(ss);
  })(window,document,'https://api.conpass.io/v2/conpass.js', 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOnsiX2lkIjoiNTlhNDRkZDJkYzBlMjUxODExN2YyODllIiwidXBkYXRlZEF0IjoiMjAxNy0wOC0yOFQxNzowNzozMC43ODNaIiwiY3JlYXRlZEF0IjoiMjAxNy0wOC0yOFQxNzowNzozMC43ODNaIiwiYmFjb24iOiJTMXNBVHAtWWIiLCJlbWFpbCI6InRoaWFnb0BmdW5pbGRldmVuZGFzLmNvbS5iciIsIl9fdiI6MCwiYWN0aXZlIjp0cnVlLCJsYW5ndWFnZSI6InB0LWJyIn0sImlhdCI6MTUwNzIwOTUyNCwiYXVkIjoibWFzdGVyYXBwIn0.DYsNXLwo77L4HzR4BAEOTuGY_h09T4KB-MgEWyTM_s8');
</script><script async="" src="meta_arquivos/conpass.js"></script>


    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-50487384-5', 'auto');
        ga('send', 'pageview');
    </script>
    
    <script type="text/javascript" async="" src="meta_arquivos/2e6e0678-2f20-4cdd-a268-c6d9a1f98f3a-loader.js"></script>
    

    

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta property="og:title" content="[Simulador de Meta | Grátis] Tenha previsibilidade nas vendas">
        <meta property="og:Description" content="O Simulador de Meta é uma ferramenta única e gratuita desenvolvida pelo Funil de Vendas. Ela te ajudará ter previsibilidade nos resultados para bater meta todo dia.">
        
        
<meta property="og:type" content="website">


    <meta property="og:image" content="https://simulador.funildevendas.com.br/Simulador-Metas_Funil-de-Vendas.jpg">

        <meta property="og:url" content="https://simulador.funildevendas.com.br/">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no,  minimal-ui">

    <meta content="O Simulador de Meta é uma ferramenta gratuita desenvolvida pelo Funil de Vendas. Ela te ajudará ter previsibilidade nos resultados para bater meta todo dia." name="description">

    <meta name="keywords" content="Simulador, Meta, método em vendas, metodo de vendas, simulador de meta, funil de vendas, simulador de funil, simulador de funil de vendas, planilha de meta,  meta de vendas, previsibilidade, previsibilidade nas vendas, taxa de conversão, Hit hates, funil de conversao, vender mais, indicadore de vendas, principais indicadores em vendas.">

        <meta name="author" content="www.funildevendas.com.br">
        <link rel="icon" type="image/png" sizes="16x16" href="http://simulador.funildevendas.com.br/plugins/images/Funil/Favicon@2x.ico">
        <title>Simulador de Meta :: Funil de Vendas™</title>
        <!-- Bootstrap Core CSS -->
        <link href="meta_arquivos/bootstrap.css" rel="stylesheet">
        <!-- This is Sidebar menu CSS -->
        <link href="meta_arquivos/sidebar-nav.css" rel="stylesheet">
        <!-- Wizard CSS -->
        <link href="meta_arquivos/wizard.css" rel="stylesheet">

        <link href="meta_arquivos/custom-select.css" rel="stylesheet" type="text/css">
        <link href="meta_arquivos/bootstrap-select.css" rel="stylesheet">
        <link href="meta_arquivos/multi-select.css" rel="stylesheet" type="text/css">

        <!-- This is a Animation CSS -->
        <link href="meta_arquivos/animate.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="meta_arquivos/style.css" rel="stylesheet">
        <!-- color CSS you can use different color css from css/colors folder -->
        <!-- We have chosen the skin-blue (megna.css) for this starter
         page. However, you can choose any other skin from folder css / colors .
         -->
        <link href="meta_arquivos/gray.css" id="theme" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
        <script src="meta_arquivos/w3data.js"></script>

        <script type="text/javascript">
            /* Máscaras ER */
            function mascara(o, f) {
                v_obj = o
                v_fun = f
                setTimeout("execmascara()", 1)
            }

            function execmascara() {
                v_obj.value = v_fun(v_obj.value)
            }

            function mtel(v) {
                v = v.replace(/\D/g, ""); //Remove tudo o que não é dígito
                v = v.replace(/^(\d{2})(\d)/g, "($1) $2"); //Coloca parênteses em volta dos dois primeiros dígitos
                v = v.replace(/(\d)(\d{4})$/, "$1-$2"); //Coloca hífen entre o quarto e o quinto dígitos
                return v;
            }

            function id(el) {
                return document.getElementById(el);
            }
            window.onload = function() {
                id('telefone').onkeyup = function() {
                    mascara(this, mtel);
                }
            }

            function somenteNumeros(num) {
                var er = /[^0-9]/;
                er.lastIndex = 0;
                var campo = num;
                if (er.test(campo.value)) {
                    campo.value = "";
                }
            }
        </script>
         
        <style>
            html{
               margin: 0;
               padding: 0;

            }
            
            @media only screen and (max-width: 480px) {
                h4.r-r-footer a{
                    display: -webkit-inline-box;
                    margin: 5px;    
                }
            }

            @media only screen and (max-width: 800px) {
                html{
                    min-height: 100%;  
                }
        
            }
     
        </style>
        
<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1904606239799498');
  fbq('track', 'PageView');
</script>
<noscript>
    <img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1904606239799498&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->


<script>
  fbq('track', 'Lead');
  fbq('track', 'ViewContent');
  fbq('track', 'CompleteRegistration');
</script>
        
         
     <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1581301538575800');
fbq('track', 'PageView');
</script>
<noscript>
    <img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1581301538575800&ev=PageView&noscript=1"
/>
</noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->
   

</head>

<body class="fundoBV">
    <a name="testar"></a>
    <div style="background:#333333;" class=" p-20 navbar-header" align="center">
        <a href="https://www.funildevendas.com.br/" target="_blank"><img src="meta_arquivos/logo2.png" alt="Funil de Vendas™" class="m-t-10" width="200" height="auto"></a>
        <h3 class="text-white" style="letter-spacing: 5px; margin-bottom: 15px; line-height: 30px; padding: 5px;">Simulador de Desperdício</h3>
    </div>
    <!-- <div class="navbar-header bg-inverse p-5"></div> -->

    <div class="col-lg-2 col-md-2 col-xs-2 hidden-xs"></div>
    <div class="col-lg-8 col-md-8 p-40 ">

        <div id="exampleValidator" class="wizard p-b-30">
            <ul class="wizard-steps m-b-20" role="tablist">
                <li class="active current" role="tab" aria-expanded="true"><span class="EtapasForm">1</span>
                </li>

                <li role="tab" class="disabled" aria-expanded="false"><span class="EtapasForm">2</span>
                </li>

                <li role="tab" class="disabled" aria-expanded="false"><span class="EtapasForm">3</span>
                </li>

                <li role="tab" class="disabled" aria-expanded="false"><span class="EtapasForm">4</span>
                </li>

                <li role="tab" class="disabled" aria-expanded="false"><span class="EtapasForm">5</span>
                </li>

                <li role="tab" class="disabled" aria-expanded="false"><span class="EtapasForm">6</span>
                </li>
            </ul>
            
            <form method="post" action="GravarDados.asp" id="validation" name="Simulador" novalidate="novalidate" class="fv-form fv-form-bootstrap">
                <button type="submit" class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>

                <div class="wizard-content row">

                    <div class="wizard-pane active" role="tabpanel" aria-expanded="true">

                        <div class="col-md-6 col-xs-12 p-r-20 p-l-0 ">
                       
                            <h1 class="font-30">Bem-vindo ao simulador de desperdício da B2rent!</h1>
                            <h3 class="text-muted m-b-30 font-19">Nosso simulador de desperdício dará a você ajuda na economia de suas tarefas. Sua lógica foi construída com base na metodologia B2rent.</h3> 
                            <!-- <span class="label label-danger label-rouded font-20">Serão apenas 5 perguntas</span> -->

                        </div>

                        <div class="col-md-6 col-xs-12 p-l-0">

                            <div class="form-group">

                                <h3 class="box-title font-20">Por favor, preencha os campos abaixo.</h3>
                                <div class="form-group">
                                    <div class="col-md-6 col-xs-12 col-sm-12 p-l-0 m-b-20">
                                        <label class="font-bold">Nome:</label>
                                        <input class="form-control" name="IDLink" value="BzO36BozZVJOJonTEqb8jDhSdMuuNSRGDzvSPMGa" style="display:none" type="text">
                                        <input class="form-control" name="nome" data-fv-field="nome" type="text" id="nome">
                                    <small style="display: none;" class="help-block" data-fv-validator="notEmpty" data-fv-for="nome" data-fv-result="NOT_VALIDATED">Preencha o campo</small>
                                </div>

                                    <div class="col-md-6 col-xs-12 p-l-0 m-b-20">
                                        <label class="font-bold">E-mail:</label>
                                        <input class="form-control" name="email" data-fv-field="email" type="text" id="email">
                                    <small style="display: none;" class="help-block" data-fv-validator="notEmpty" data-fv-for="email" data-fv-result="NOT_VALIDATED">Campo obrigatório</small>
                                    <small style="display: none;" class="help-block" data-fv-validator="emailAddress" data-fv-for="email" data-fv-result="NOT_VALIDATED">Insira um e-mail válido</small></div>
  
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6 col-xs-12 p-l-0 m-b-20">
                                        <label class="font-bold">Empresa:</label>
                                        <input class="form-control" name="empresa" data-fv-field="empresa" type="text" id="empresa">
                                    <small style="display: none;" class="help-block" data-fv-validator="notEmpty" data-fv-for="empresa" data-fv-result="NOT_VALIDATED">Preencha o campo</small></div>
                                    <div class="col-md-6 col-xs-12 p-l-0 m-b-20" style="display:none;">
                                    
                                    <input class="form-control" id="CanalSimulador" maxlength="15" name="CanalSimulador" data-fv-field="CanalSimulador" type="text">

                                        </select>
                                        <div class="btn-group bootstrap-select">
    
                                        </button>
                                        <div class="dropdown-menu open"><div class="bs-searchbox">
                                            <input class="form-control" autocomplete="off" type="text"></div>
                                        <ul class="dropdown-menu inner" role="menu"><li data-original-index="0" class="selected">
                                            <a tabindex="0" class="" style="" data-tokens="null"><span class="text">Google</span>
                                                <span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="1">
                                                    <a tabindex="0" class="" style="" data-tokens="null"><span class="text">Facebook</span>
                                                        <span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="2">
                                                            <a tabindex="0" class="" style="" data-tokens="null"><span class="text">Youtube</span>
                                                                <span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="3">
                                                                    <a tabindex="0" class="" style="" data-tokens="null"><span class="text">LinkedIn</span>
                                                                        <span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="4">
                                                                            <a tabindex="0" class="" style="" data-tokens="null"><span class="text">Palestras que realizamos</span>
                                                                                <span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                                                <li data-original-index="5"><a tabindex="0" class="" style="" data-tokens="null">
                                                                                    <span class="text">Indicação</span>
                                                                                    <span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="6">
                                                                                        <a tabindex="0" class="" style="" data-tokens="null"><span class="text">Nosso treinamento / workshop de vendas</span>
                                                                                            <span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="7"><a tabindex="0" class="" style="" data-tokens="null">
                                                                                                <span class="text">Evento</span>
                                                                                                <span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="8"><a tabindex="0" class="" style="" data-tokens="null">
                                                                                                    <span class="text">Já é cliente</span>
                                                                                                    <span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="9"><a tabindex="0" class="" style="" data-tokens="null">
                                                                                                        <span class="text">Usou no passado</span>
                                                                                                    <span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="10"><a tabindex="0" class="" style="" data-tokens="null">
                                                                                                        <span class="text">e-Mail marketing</span>
                                                                                                        <span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="11"><a tabindex="0" class="" style="" data-tokens="null">
                                                                                                            <span class="text">Foi prospectado</span>
                                                                                                            <span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="12"><a tabindex="0" class="" style="" data-tokens="null">
                                                                                                                <span class="text">Materiais baixados</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                                                                                <li data-original-index="13">
                                                                                                                    <a tabindex="0" class="" style="" data-tokens="null">
                                                                                                                        <span class="text">Concorrente</span>
                                                                                                                        <span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div></div>

                                    <small style="display: none;" class="help-block" data-fv-validator="stringLength" data-fv-for="CanalSimulador" data-fv-result="NOT_VALIDATED">Please enter a value with valid length</small></div>
                                </div>
                            </div>
                        </div>
                    </div>

<!-- INICIO -->



<!-- ABRIR pag.2 -->
            <div class="wizard-pane" role="tabpanel" aria-expanded="false">
                <div class="form-group">
                    <div class="col-md-6 col-xs-12" style="padding: 24px; right: 15px;">

                            <h2>Para buscar(procurar) contrato e preparar orçamentos pra meus clientes gastar em média <input required minlength="1" type="number" min="0" class="bootstrap-bar" name="num1" id="tempo_medio"> minutos.</h2> 
                    
                            <h2 class="h-2">Em geral preparo cerca de <input type="number" required minlength="1" class="bootstrap-bar" name="num2" id="quantidade_orcamento" > orçamentos por mês.</h2>   
                    </div> 
                </div>

        <div class="row">
                <div class="form-group">
                    <div class="col-md-6 col-xs-12">
                            <h2>Quanto tenho desse tipo de peça no meu estoque? Nesta data, terei essa disponibilidade? Algum item precisa ser adquirido?</h2>
                                    <h2>Essas perguntas ocorrem pelos menos  <input required minlength="1" type="number" class="bootstrap-bar" name="num3" id="perguntas_semana" min="0"> vezes por semana e para responde-las hoje preciso de pelo menos  <input required minlength="1" type="number" class="bootstrap-bar" name="num4" id="res_perguntas"> minutos.</h2>
                    </div>
                </div>
        </div>

            </div>
          
<!-- FECHA pag.2 -->


<!-- ABRIR pag.3 -->
<div class="wizard-pane" role="tabpanel" aria-expanded="false">

<div class="row">
        <div class="form-group">
            <div class="col-md-6 col-xs-12" style="padding: 24px; right: 15px;">
                    <h2 class="h-2">Verificar preços cobrados anteriomente, verificar disponibilidade, achar o modelo padrão em word ou excel, copiar e colar dados cadastrais do cliente (*ERROS!), salvar arquivo em PDF, enviar por email para o cliente.</h2>  
                    <h2>Tudo isso me toma  <input required minlength="1" type="number" class="bootstrap-bar" name="num5" id="verificacao_por_minuto" > minutos para ser feito sempre que preciso preparar um novo contrato.</h2>
        </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6 col-xs-12">
                            <h2>Demoro cerca de  <input required minlength="1" type="number" class="bootstrap-bar" name="num6" id="duracao_para_organizar"  > minutos por dia para organizar a logística(rota de entrega e recolhimento do acervo) dos compromissos já contratados todos os dias.</h2>  
                            <!-- <img src="log.gif" alt="gif_Logistica" width="95%" height="230px"> -->
                         </div>
                    </div>
            </div>
</div>
<br/>
    </div>
<!-- FECHA pag.3 -->


<!-- ABRIR pag.4 -->
<div class="wizard-pane" role="tabpanel" aria-expanded="false">
        <div class="form-group">
            <div class="col-md-6 col-xs-12" style="padding: 24px; right: 15px;">
                    <h2>Ao receber a confirmação de uma contratação normalmente preciso encontrar ultima versão do contrato, preparar contrato com dados do cliente, enviar por email após gerar PDF.</h2>  
                    </div> 
        </div>

        <div class="row">
                <div class="form-group">
                    <div class="col-md-6 col-xs-12">
                            <h2>Em média preciso me concentrar por pelo menos <input type="number" required minlength="1" class="bootstrap-bar" id="quantidade_minutos"  min="0"> minutos para preparar cada contrato com atenção.</h2>
                 </div>
                </div>
        </div>


    </div>
<!-- FECHA pag.4 -->



<!-- ABRIR pag.5 -->
<div class="wizard-pane" role="tabpanel" aria-expanded="false">
        <div class="form-group">
            <div class="col-md-6 col-xs-12" style="padding: 24px; right: 15px;">
                    <h2>Com a rota de devoluções pronta, é necessário detalhar o que deverá ser desmontado e recolhido.</h2>  
            </div> 
        </div>

<div class="row">
        <div class="form-group">
            <div class="col-md-6 col-xs-12">
                    <h2>Para organizar isso levo em média <input required minlength="1" type="number" class="bootstrap-bar" id="organizar_minuto_contrato"> minutos por contrato a ser recolhido.</h2>  
            </div>
        </div>
</div>
    </div>
<!-- FECHA pag.4 -->

                    <!-- <ABA> -->
                    <div class="wizard-pane" role="tabpanel" aria-expanded="false">
                        <h1 class="text-muted">E finalmente... <strong>Os resultados:</strong></h1>
                              <div class="text-camp">
            <h2>Sua hora de trabalho vale: <strong  id="minutos_orcamento"></strong> reais.</h2>
            <h2>E você gasta <strong id ="valor_perguntas_semana"></strong> horas resolvendo esses problemas.</h2>
            <h2>Ou seja, por mes, você desperdiça <strong id="resut_tempo_verificacao"></strong> reais!</h2>
                           
            <h2>Em um ano, seu gasto aumenta para <strong id="gasto_ano">U</strong>. Bastante né?</h2>
            <h2>E se eu te disser que, investindo <strong id="">T%</strong> desse valor, você pode resolver todos esses problemas de forma fácil e ágil?</h2>
            <h2>Com o B2, você pode minimizar essas situações e aumentar seu faturamento atual em <strong id="">V%</strong>!</h2>
            <h2>Use seus recursos de forma inteligente. Vem com o B2rent!</h2>                                    

                          
                                    
                         </div> 
                    </div>
                    
                    <!-- <FECHA ABA> -->

                </div>


    <small style="display: none;" class="help-block" data-fv-validator="stringLength" data-fv-for="QtdEtapa3" data-fv-result="NOT_VALIDATED">Please enter a value with valid length</small>
    <small style="display: none;" class="help-block" data-fv-validator="stringLength" data-fv-for="Qtd3" data-fv-result="NOT_VALIDATED">Please enter a value with valid length</small>
</div>
   
</div>
            </div>

        </div>

    </div>

    <div class="footer" style="z-index: -1;">
            <h4 class="r-r-footer" style="margin-bottom: -20px;">Visite também o nosso site da <a  id="bt-b2" href="http://b2rent.com.br/" data-toggle="tooltip" title="Sistema online criado apartir das necessidades do setor de festas/eventos!" >B2rent</a></h4>
            <p style="margin-bottom: 10px;">  B2rent - Somos B2rent e estamos determinados a fazer empresas crecerem - Copyright © 2018 -<br/> 
                Todos os direitos reservados.</p>
                   <div class="icon-bar">
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="instagram"><i class="fa fa-instagram"></i></a> 
                    <a href="#" class="whatsapp"><i class="fa fa-whatsapp"></i></a> 
                   </div>
    </div> 
    
    <script>
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();   
            });
    </script>
    

    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="meta_arquivos/jquery_004.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="meta_arquivos/bootstrap.js"></script>
    <!-- Sidebar menu plugin JavaScript -->
    <script src="meta_arquivos/sidebar-nav.js"></script>
    <!--Slimscroll JavaScript For custom scroll-->
    <script src="meta_arquivos/jquery_002.js"></script>
    <!--Wave Effects -->
    <script src="meta_arquivos/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="meta_arquivos/custom.js"></script>

    <!-- Form Wizard JavaScript -->
    <script src="meta_arquivos/jquery-wizard.js"></script>
    <!-- FormValidation -->
    <link rel="stylesheet" href="meta_arquivos/formValidation.css">
    <!-- FormValidation plugin and the class supports validating Bootstrap form -->
    <script src="meta_arquivos/formValidation.js"></script>
    <script src="meta_arquivos/bootstrap_002.js"></script>

    <script src="meta_arquivos/custom-select.js" type="text/javascript"></script>
    <script src="meta_arquivos/bootstrap-select.js" type="text/javascript"></script>
    <script type="text/javascript" src="meta_arquivos/jquery_003.js"></script>

    <script src="meta_arquivos/maskMoney.js"></script>

    <script type="text/javascript" src="meta_arquivos/jquery.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="meta_arquivos/custom.js"></script>

    <script type="text/javascript">
        //Select etapa

        $(document).ready(function() {
            $('#Etapas').on('change', function() {
                if (this.value == '1') {
                    $(".Etapa1").text("Oportunidades");
                    $(".Etapa2").text("Visitas");
                    $(".Etapa3").text("Propostas");
                } else if (this.value == '2') {
                    $(".Etapa1").text("Leads");
                    $(".Etapa2").text("Demonstrações");
                    $(".Etapa3").text("Propostas");
                    $(".masculino_cap").text("captados / contactados");
                    $(".masculino_quantas").text("quantas");

                } else if (this.value == '3') {
                    $(".Etapa1").text("Prospects");
                    $(".Etapa2").text("Apresentações");
                    $(".Etapa3").text("Orçamentos");
                    $(".masculino_cap").text("captados / contactados");
                    $(".masculino_quantas").text("quantos");
                    $(".masculino_gerados").text("gerados");

                } else if (this.value == '4') {
                    $(".Etapa1").text("Leads");
                    $(".Etapa2").text("Contato(s) Efetivo(s)");
                    $(".Etapa3").text("Visitas Realizadas");
                    $(".masculino_cap").text("captados / contactados");
                    $(".masculino_quantas").text("quantas");
                    $(".masculino_gerados").text("gerados");

                }
            });
        });

        $(".MoedaReal").maskMoney({
            decimal: ",",
            thousands: ".",
            symbol: "",
            showSymbol: true,
            symbolStay: true

        });

        (function() {
            $('#exampleValidator').wizard({

                onInit: function() {
                    $('#validation').formValidation({
                        framework: 'bootstrap',
                        fields: {
                            username: {
                                validators: {
                                    notEmpty: {
                                        message: 'The username is required'
                                    },
                                    stringLength: {
                                        min: 6,
                                        max: 30,
                                        message: 'The username must be more than 6 and less than 30 characters long'
                                    },
                                    regexp: {
                                        regexp: /^[a-zA-Z0-9_\.]+$/,
                                        message: 'The username can only consist of alphabetical, number, dot and underscore'
                                    }
                                }
                            },
                            email: {
                                validators: {
                                    notEmpty: {
                                        message: 'Campo obrigatório'
                                    },
                                    emailAddress: {
                                        message: 'Insira um e-mail válido'
                                    }
                                }
                            },
                            desafio: {
                                validators: {
                                    notEmpty: {
                                        message: 'Selecione pelo menos uma resposta'
                                    }

                                }
                            },

                            nome: {
                                validators: {
                                    notEmpty: {
                                        message: 'Preencha o campo'
                                    }

                                }
                            },

                            telefone: {
                                validators: {
                                    notEmpty: {
                                        message: 'Preencha o campo'
                                    }

                                }
                            },

                            empresa: {
                                validators: {
                                    notEmpty: {
                                        message: 'Preencha o campo'
                                    }

                                }
                            },

                            TipoEquipe: {
                                validators: {
                                    notEmpty: {
                                        message: 'Selecione uma opção'
                                    }

                                }
                            },

                            NumeroContas: {
                                validators: {
                                    notEmpty: {
                                        message: 'Selecione uma opção'
                                    }

                                }
                            },

                            dificuldade: {
                                validators: {
                                    notEmpty: {
                                        message: 'Selecione uma opção'
                                    }

                                }
                            },

                            GestaoVendas: {
                                validators: {
                                    notEmpty: {
                                        message: 'Selecione uma opção'
                                    }

                                }
                            },

                            Urgencia: {
                                validators: {
                                    notEmpty: {
                                        message: 'Selecione uma opção'
                                    }

                                }
                            },

                        }

                    });
                },
                validator: function() {
                    var fv = $('#validation').data('formValidation');

                    var $this = $(this);

                    // Validate the container
                    fv.validateContainer($this);

                    var isValidStep = fv.isValidContainer($this);
                    if (isValidStep === false || isValidStep === null) {
                        return false;
                    }

                    return true;
                },
                onFinish: function() {
                    $('#validation').submit();

                    alert('finish');

                }
            });

        })();

        $(document).ready(function() {

            $(".wizard-finish").click(function() {
                $('#validation').submit();
            });

        });
    </script>

    <script type="text/javascript" src="meta_arquivos/rd-js-integration_002.js"></script>
    <script type="text/javascript">
        var meus_campos = {
            'IDLink': 'IDLink',
            'nome': 'nome',
            'email': 'email',
            'empresa': 'empresa',
            'telefone': 'telefone',
            'cargo': 'cargo',
            'canalsimulador': 'canalsimulador',
            'canal': 'Canal'
        };
        options = {
            fieldMapping: meus_campos
        };
        RdIntegration.integrate('7189f8744694f2f659ae2d2e076922f8', 'Simulador_Meta', options);
    </script>



<script type="text/javascript">
_linkedin_data_partner_id = "72595";
</script><script type="text/javascript">
(function(){var s = document.getElementsByTagName("script")[0];
var b = document.createElement("script");
b.type = "text/javascript";b.async = true;
b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
s.parentNode.insertBefore(b, s);})();
</script>
<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=72595&fmt=gif" />
</noscript>





<script type="text/javascript" src="meta_arquivos/traffic-source-cookie.js"></script><iframe style="width: 1px; height: 1px; position: absolute; top: -100px;" id="rd_tmgr"></iframe><script src="meta_arquivos/a" type="text/javascript"></script><script type="text/javascript" src="meta_arquivos/lead-tracking.js"></script><script type="text/javascript" src="meta_arquivos/rdstation-popup.js"></script><script type="text/javascript" src="meta_arquivos/rd-js-integration.js"></script>

<script type="text/javascript" src="js/main.js"></script>



</body>
</html>