<!DOCTYPE html>
<html class="fundoBV" lang="pt-br">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8;">

    <script src="meta_arquivos/insight.js" type="text/javascript"></script>
    <script src="meta_arquivos/analytics.js" type="text/javascript"></script>
    <script src="meta_arquivos/2e6e0678-2f20-4cdd-a268-c6d9a1f98f3a-loader.js" type="text/javascript"></script>
    <script src="node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="node_modules/jquery-mask-plugin/dist/jquery.mask.min.js" type="text/javascript"></script>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="B2rent - Calculadora de Desperdício">
    <meta property="og:Description" content="Gerencie seu acervo de forma simples e intuitiva">
    <meta property="og:type" content="website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no,  minimal-ui">
    <meta content="Gerencie seu acervo de forma simples e intuitiva" name="description">
    <meta name="keywords" content="Simulador, Meta, método em vendas, metodo de vendas, simulador de meta, funil de vendas, simulador de funil, simulador de funil de vendas, planilha de meta,  meta de vendas, previsibilidade, previsibilidade nas vendas, taxa de conversão, Hit hates, funil de conversao, vender mais, indicadore de vendas, principais indicadores em vendas.">

    <meta name="author" content="www.funildevendas.com.br">
    <link rel="icon" type="image/png" sizes="16x16" href="imagens/b2rent.png">

    <title>B2rent - Calculadora de Desperdício</title>
    <!-- Bootstrap Core CSS -->
    <link href="meta_arquivos/bootstrap.css" rel="stylesheet">
    <!-- This is Sidebar menu CSS -->
    <!-- <link href="meta_arquivos/sidebar-nav.css" rel="stylesheet"> -->
    <!-- Wizard CSS -->
    <link href="meta_arquivos/wizard.css" rel="stylesheet">

    <link href="meta_arquivos/custom-select.css" rel="stylesheet" type="text/css">
    <link href="meta_arquivos/bootstrap-select.css" rel="stylesheet">
    <link href="meta_arquivos/multi-select.css" rel="stylesheet" type="text/css">

    <!-- This is a Animation CSS -->
    <link href="meta_arquivos/animate.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="meta_arquivos/style.css" rel="stylesheet">
    <!-- color CSS you can use different color css from css/colors folder -->
    <!--
        We have chosen the skin-blue (megna.css) for this starter
        page. However, you can choose any other skin from folder css / colors .
     -->
    <link href="meta_arquivos/gray.css" id="theme" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <script src="meta_arquivos/w3data.js"></script>

    <!-- <script type="text/javascript">
        /* Máscaras ER */
        function mascara(o, f) {
            v_obj = o
            v_fun = f
            setTimeout("execmascara()", 1)
        }

        function execmascara() {
            v_obj.value = v_fun(v_obj.value)
        }

        function mtel(v) {
            v = v.replace(/\D/g, ""); //Remove tudo o que não é dígito
            v = v.replace(/^(\d{2})(\d)/g, "($1) $2"); //Coloca parênteses em volta dos dois primeiros dígitos
            v = v.replace(/(\d)(\d{4})$/, "$1-$2"); //Coloca hífen entre o quarto e o quinto dígitos
            return v;
        }

        function id(el) {
            return document.getElementById(el);
        }

        function somenteNumeros(num) {
            var er = /[^0-9]/;
            er.lastIndex = 0;
            var campo = num;
            if (er.test(campo.value)) {
                campo.value = "";
            }
        }
    </script> -->

    <style>
        html {
                width: auto;
                height: auto;
                padding:0;
                
             }

            @media only screen and (maxto-width: 480px) {
            .h4.r-r- a{
                    display: -webkit-inline-box;
                    margin: 5px;
                }
            }

            @media only screen and (max-width: 800px) {
                html{
                    min-height: 100%;
                }

            }

            

        </style>

</head>

<body class="fundoBV">
    <a name="testar"></a>
    <div style="background:#333333;" class=" p-20 navbar-header" align="center">
        <a href="https://www.funildevendas.com.br/" target="_blank">
            <img src="meta_arquivos/logo2.png" alt="Funil de Vendas™" class="m-t-10" width="200" height="auto">
        </a>
        <h3 class="text-white" style="letter-spacing: 5px; margin-bottom: 35px; line-height: 40px;">
            Simulador de Desperdício
        </h3>
    </div>


    <div class="col-lg-2 col-md-2 col-xs-2 hidden-xs"></div>
    <div class="col-lg-8 col-md-8 p-40 ">

        <div id="exampleValidator" class="wizard p-b-30">
            <ul class="wizard-steps m-b-20" role="tablist">
                <li class="active current" role="tab" aria-expanded="true"><span class="EtapasForm">1</span>
                </li>

                <li role="tab" class="disabled" aria-expanded="false"><span class="EtapasForm">2</span>
                </li>

                <li role="tab" class="disabled" aria-expanded="false"><span class="EtapasForm">3</span>
                </li>

                <li role="tab" class="disabled" aria-expanded="false"><span class="EtapasForm">4</span>
                </li>

                <li role="tab" class="disabled" aria-expanded="false"><span class="EtapasForm">5</span>
                </li>

                <li role="tab" class="disabled" aria-expanded="false"><span class="EtapasForm">6</span>
                </li>
            </ul>

            <form method="post" action="GravarDados.asp" id="validation" name="Simulador" novalidate="novalidate" class="fv-form fv-form-bootstrap">
                <button type="submit" class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>

                <div class="wizard-content row">

                    <div class="wizard-pane active" role="tabpanel" aria-expanded="true">

                        <div class="col-md-6 col-xs-12 p-r-20 p-l-0 ">

                            <h1 class="font-30">Bem-vindo ao simulador de desperdício da B2rent!</h1>
                            <h3 class="text-muted m-b-30 font-19">Nosso simulador de desperdício dará a você ajuda na
                                economia de suas tarefas. Sua lógica foi construída com base na metodologia B2rent.</h3>

                        </div>

                        <div class="col-md-6 col-xs-12 p-l-0">

                            <div class="form-group">

                                <h3 class="box-title font-20">Por favor, preencha os campos abaixo.</h3>
                                <div class="form-group">
                                    <div class="col-md-6 col-xs-12 col-sm-12 p-l-0 m-b-20">
                                        <label class="font-bold">Nome:</label>
                                        <input class="form-control" name="IDLink" value="BzO36BozZVJOJonTEqb8jDhSdMuuNSRGDzvSPMGa"
                                            style="display:none" type="text">
                                        <input class="form-control" name="nome" data-fv-field="nome" type="text" id="nome">
                                        <small style="display: none;" class="help-block" data-fv-validator="notEmpty"
                                            data-fv-for="nome" data-fv-result="NOT_VALIDATED">Preencha o campo</small>
                                    </div>

                                    <div class="col-md-6 col-xs-12 p-l-0 m-b-20">
                                        <label class="font-bold">E-mail:</label>
                                        <input class="form-control" name="email" data-fv-field="email" type="text" id="email">
                                        <small style="display: none;" class="help-block" data-fv-validator="notEmpty"
                                            data-fv-for="email" data-fv-result="NOT_VALIDATED">Campo obrigatório</small>
                                        <small style="display: none;" class="help-block" data-fv-validator="emailAddress"
                                            data-fv-for="email" data-fv-result="NOT_VALIDATED">Insira um e-mail válido</small></div>

                                </div>

                                <div class="form-group">
                                    <div class="col-md-6 col-xs-12 p-l-0 m-b-20">
                                        <label class="font-bold">Empresa:</label>
                                        <input class="form-control" name="empresa" data-fv-field="empresa" type="text"
                                            id="empresa">
                                        <small style="display: none;" class="help-block" data-fv-validator="notEmpty"
                                            data-fv-for="empresa" data-fv-result="NOT_VALIDATED">Preencha o campo</small></div>
                                    <div class="col-md-6 col-xs-12 p-l-0 m-b-20" style="display:none;">

                                        <input class="form-control" id="CanalSimulador" maxlength="15" name="CanalSimulador"
                                            data-fv-field="CanalSimulador" type="text">

                                        </select>
                                        <div class="btn-group bootstrap-select">

                                            </button>
                                            <div class="dropdown-menu open">
                                                <div class="bs-searchbox">
                                                    <span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                    <li data-original-index="3">
                                                        <input class="form-control" autocomplete="off" type="text">
                                                </div>
                                                <ul class="dropdown-menu inner" role="menu">
                                                    <li data-original-index="0" class="selected">
                                                        <a tabindex="0" class="" style="" data-tokens="null"><span
                                                                class="text">Google</span>
                                                            <span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                    <li data-original-index="1">
                                                        <a tabindex="0" class="" style="" data-tokens="null"><span
                                                                class="text">Facebook</span>
                                                            <span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                    <li data-original-index="2">
                                                        <a tabindex="0" class="" style="" data-tokens="null"><span
                                                                class="text">Youtube</span>
                                                            <a tabindex="0" class="" style="" data-tokens="null"><span
                                                                    class="text">LinkedIn</span>
                                                                <span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                    <li data-original-index="4">
                                                        <a tabindex="0" class="" style="" data-tokens="null"><span
                                                                class="text">Palestras que realizamos</span>
                                                            <span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                    <li data-original-index="5"><a tabindex="0" class="" style=""
                                                            data-tokens="null">
                                                            <span class="text">Indicação</span>
                                                            <span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                    <li data-original-index="6">
                                                        <a tabindex="0" class="" style="" data-tokens="null"><span
                                                                class="text">Nosso treinamento / workshop de vendas</span>
                                                            <span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                    <li data-original-index="7"><a tabindex="0" class="" style=""
                                                            data-tokens="null">
                                                            <span class="text">Evento</span>
                                                            <span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                    <li data-original-index="8"><a tabindex="0" class="" style=""
                                                            data-tokens="null">
                                                            <span class="text">Já é cliente</span>
                                                            <span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                    <li data-original-index="9"><a tabindex="0" class="" style=""
                                                            data-tokens="null">
                                                            <span class="text">Usou no passado</span>
                                                            <span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                    <li data-original-index="10"><a tabindex="0" class="" style=""
                                                            data-tokens="null">
                                                            <span class="text">e-Mail marketing</span>
                                                            <span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                    <li data-original-index="11"><a tabindex="0" class="" style=""
                                                            data-tokens="null">
                                                            <span class="text">Foi prospectado</span>
                                                            <span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                    <li data-original-index="12"><a tabindex="0" class="" style=""
                                                            data-tokens="null">
                                                            <span class="text">Materiais baixados</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                    <li data-original-index="13">
                                                        <a tabindex="0" class="" style="" data-tokens="null">
                                                            <span class="text">Concorrente</span>
                                                            <span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <small style="display: none;" class="help-block" data-fv-validator="stringLength"
                                            data-fv-for="CanalSimulador" data-fv-result="NOT_VALIDATED">Por favor entre
                                            com um valor válido.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- INICIO -->

                    <!-- ABRIR pag.2 -->
                    <div class="wizard-pane" role="tabpanel" aria-expanded="false">
                        <div class="form-group">
                            <div class="col-md-6 col-xs-12">

                                <h2>
                                    Para buscar(procurar) contrato e preparar orçamentos
                                    pra meus clientes gastar em média
                                    <input required minlength="1" type="number" min="0" class="bootstrap-bar" name="num1"
                                        id="tempo_medio"> minutos.</h2>
                                <h2 class="h-2">
                                    Em geral preparo cerca de
                                    <input type="number" min="0" required minlength="1" class="bootstrap-bar" name="num2"
                                        id="quantidade_orcamento">
                                    orçamentos por mês.
                                </h2>
                                <h2>Quanto a sua empresa faturou?
                                    <input type="text" name="num9" required minlength="1" class="bootstrap-bar money"
                                        id="faturamento_empresarial" style="width: 85%; font-size: 25px;">
                                </h2>
                            </div>
                        </div>



                        <div class="col-md-6 col-xs-12">
                            <h2>Quanto tenho desse tipo de peça no meu estoque? Nesta data, terei essa
                                disponibilidade? Algum item precisa ser adquirido?</h2>
                            <h2>Essas perguntas ocorrem pelos menos <input required minlength="1" type="number" min="0"
                                    class="bootstrap-bar" name="num3" id="perguntas_semana"> vezes por
                                semana e para responde-las hoje preciso de pelo menos <input type="number" class="bootstrap-bar"
                                    name="num4" min="0" required minlength="1" id="res_perguntas">
                                minutos.</h2>
                        </div>

                    </div>

                    <!-- FECHA pag.2 -->


                    <!-- ABRIR pag.3 -->
                    <div class="wizard-pane" role="tabpanel" aria-expanded="false">

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6 col-xs-12">
                                    <h2 class="h-2">Verificar preços cobrados anteriomente, verificar disponibilidade,
                                        achar o modelo padrão em word ou excel, copiar e colar dados cadastrais do
                                        cliente (*ERROS!), salvar arquivo em PDF, enviar por email para o cliente.</h2>
                                    <h2>Tudo isso me toma <input required minlength="1" min="0" type="number" class="bootstrap-bar"
                                            name="num5" id="verificacao_por_minuto"> minutos para ser feito sempre que
                                        preciso preparar um novo contrato.</h2>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-6 col-xs-12">
                                    <h2>Demoro cerca de <input required minlength="1" type="number" class="bootstrap-bar"
                                            min="0" name="num6" id="duracao_para_organizar"> minutos por dia para
                                        organizar a logística(rota de entrega e recolhimento do acervo) dos
                                        compromissos já contratados todos os dias.</h2>
                                    <div class="container">
                                        <div class="row">
                                            <h2>Qual o valor do prolabore (médio)?</h2>
                                            <input type="text" required minlength="1" class="bootstrap-bar money" name="num10"
                                                id="valor_prolabore" style="width: 30%; font-size: 25px;">
                                        </div>
                                        <div class="row">
                                            <h2>Horas trabalhadas por mês?</h2>
                                            <input type="number" min="0" required minlength="1" class="bootstrap-bar"
                                                name="num" id="horas_trabalhadas" style="width: 30%; font-size: 25px">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <br />
                    </div>
                    <!-- FECHA pag.3 -->


                    <!-- ABRIR pag.4 -->
                    <div class="wizard-pane" role="tabpanel" aria-expanded="false">
                        <div class="form-group">
                            <div class="col-md-6 col-xs-12">
                                <h2>Ao receber a confirmação de uma contratação normalmente preciso encontrar ultima
                                    versão do contrato, preparar contrato com dados do cliente, enviar por email após
                                    gerar PDF.</h2>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6 col-xs-12">
                                    <h2>Em média preciso me concentrar por pelo menos <input type="number" required
                                            minlength="1" min="0" class="bootstrap-bar" id="quantidade_minutos" name="num7">
                                        minutos para preparar cada contrato com atenção.</h2>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- FECHA pag.4 -->



                    <!-- ABRIR pag.5 -->
                    <div class="wizard-pane" role="tabpanel" aria-expanded="false">
                        <div class="form-group">
                            <div class="col-md-6 col-xs-12">
                                <h2>Com a rota de devoluções pronta, é necessário detalhar o que deverá ser desmontado
                                    e recolhido.</h2>
                                <h2>Para organizar isso levo em média <input required minlength="1" type="number" class="bootstrap-bar"
                                        name="num8" min="0" id="organizar_minuto_contrato"> minutos por contrato a ser
                                    recolhido.</h2>

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6 col-xs-12">

                                    <h2>Quando não estou 100% organizado(a), corro um risco de esquecer de levar algum
                                        material.</h2>
                                    <h2>Quando isso acontece perco pelo menos <input required minlength="1" type="number"
                                            class="bootstrap-bar" name="num8" min="0" id="perda_de_tempo_por_material">
                                        minutos.</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FECHA pag.5 -->

                    <!-- <ABA> -->
                    <div class="wizard-pane" role="tabpanel" aria-expanded="false">
                        <div id="a-b-c">
                            <h1 class="text-muted"><strong>Seus resultados são:</strong></h1>
                            <div class="box">
                                <div id="camp1">
                                    <h2 id="text1">Percebemos que você gasta <strong id="tempo_perdido"></strong>% do
                                        seu tempo, ou seja,
                                        <strong id="horas"></strong>
                                        horas resolvendo os problemas citados.</h2>

                                    <img src="imagens/gif2.gif" alt="gif1" width="200" height="auto">
                                </div>
                                <div id="boxchedow" style="padding-top: 40px;">
                                    <h2>Isso lhe custa mensalmente<br>cerca de R$
                                        <strong id="custo_desperdicado"></strong>.</h2>

                                    <img src="imagens/gif3.gif" width="200 " height="auto">
                                </div>
                            </div>


                            <div class="box left">
                                <h2>Se deste valor desperdiçado você investir <strong id="quantidade_desperdicada"></strong>%,
                                    isso é, <strong id="valor_investido">r$</strong>. Ainda estaria economizando um
                                    total de <strong id="economia_feita"></strong> reais e potencializaria a sua
                                    empresa aumentar o seu faturamento em R$ <strong id="faturado"></strong><br>

                                    <br>

                                    <img src="imagens/gif1.gif" width="200" height="auto">

                                    <h2><a href="#"><strong>Gostaria de entender melhor Como pode chegar nestes
                                                resultados?</strong></a></h2>

                            </div>
                            <div>
                            </div>


                            <!-- <FECHA ABA> -->

                            <small style="display: none;" class="help-block" data-fv-validator="stringLength"
                                data-fv-for="QtdEtapa3" data-fv-result="NOT_VALIDATED">Please enter a value with valid
                                length</small>
                            <small style="display: none;" class="help-block" data-fv-validator="stringLength"
                                data-fv-for="Qtd3" data-fv-result="NOT_VALIDATED">Please enter a value with valid
                                length</small>
                        </div>

                    </div>
                </div>

        </div>

    </div>

    <div class="footer" style="z-index: -1;">
        <h4 class="r-r-footer" style="margin-bottom: -20px;">Visite também o nosso site: <a id="bt-b2" href="http://b2rent.com.br/"
                data-toggle="tooltip" title="Sistema online criado apartir das necessidades do setor de festas/eventos!">B2rent</a></h4>
        <p style="margin-bottom: 10px;"> B2rent - Somos B2rent e estamos determinados a fazer empresas crecerem -
            Copyright © 2018 -<br />
            Todos os direitos reservados.</p>
        <div class="icon-bar">
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="whatsapp"><i class="fa fa-whatsapp"></i></a>
        </div>
    </div>

    </div>

    <!-- /#wrapper -->
    <!-- jQuery -->
    <!-- <script src="meta_arquivos/jquery_004.js"></script> -->
    <!-- Bootstrap Core JavaScript -->
    <script src="meta_arquivos/bootstrap.js"></script>
    <!-- Sidebar menu plugin JavaScript -->
    <script src="meta_arquivos/sidebar-nav.js"></script>
    <!--Slimscroll JavaScript For custom scroll-->
    <script src="meta_arquivos/jquery_002.js"></script>
    <!--Wave Effects -->
    <script src="meta_arquivos/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="meta_arquivos/custom.js"></script>

    <!-- Form Wizard JavaScript -->
    <script src="meta_arquivos/jquery-wizard.js"></script>
    <!-- FormValidation -->
    <link rel="stylesheet" href="meta_arquivos/formValidation.css">
    <!-- FormValidation plugin and the class supports validating Bootstrap form -->
    <script src="meta_arquivos/formValidation.js"></script>
    <script src="meta_arquivos/bootstrap_002.js"></script>

    <script src="meta_arquivos/custom-select.js" type="text/javascript"></script>
    <script src="meta_arquivos/bootstrap-select.js" type="text/javascript"></script>
    <script type="text/javascript" src="meta_arquivos/jquery_003.js"></script>


    <!-- Custom Theme JavaScript -->
    <script src="meta_arquivos/custom.js"></script>

    <script type="text/javascript">
        //Select etapa

        $(document).ready(function () {
            $('#Etapas').on('change', function () {
                if (this.value == '1') {
                    $(".Etapa1").text("Oportunidades");
                    $(".Etapa2").text("Visitas");
                    $(".Etapa3").text("Propostas");
                } else if (this.value == '2') {
                    $(".Etapa1").text("Leads");
                    $(".Etapa2").text("Demonstrações");
                    $(".Etapa3").text("Propostas");
                    $(".masculino_cap").text("captados / contactados");
                    $(".masculino_quantas").text("quantas");

                } else if (this.value == '3') {
                    $(".Etapa1").text("Prospects");
                    $(".Etapa2").text("Apresentações");
                    $(".Etapa3").text("Orçamentos");
                    $(".masculino_cap").text("captados / contactados");
                    $(".masculino_quantas").text("quantos");
                    $(".masculino_gerados").text("gerados");

                } else if (this.value == '4') {
                    $(".Etapa1").text("Leads");
                    $(".Etapa2").text("Contato(s) Efetivo(s)");
                    $(".Etapa3").text("Visitas Realizadas");
                    $(".masculino_cap").text("captados / contactados");
                    $(".masculino_quantas").text("quantas");
                    $(".masculino_gerados").text("gerados");
                }
            });
        });

        (function () {
            $('#exampleValidator').wizard({

                onInit: function () {
                    $('#validation').formValidation({
                        framework: 'bootstrap',
                        fields: {
                            username: {
                                validators: {
                                    notEmpty: {
                                        message: 'The username is required'
                                    },
                                    stringLength: {
                                        min: 6,
                                        max: 30,
                                        message: 'The username must be more than 6 and less than 30 characters long'
                                    },
                                    regexp: {
                                        regexp: /^[a-zA-Z0-9_\.]+$/,
                                        message: 'The username can only consist of alphabetical, number, dot and underscore'
                                    }
                                }
                            },
                            email: {
                                validators: {
                                    notEmpty: {
                                        message: 'Campo obrigatório'
                                    },
                                    emailAddress: {
                                        message: 'Insira um e-mail válido'
                                    }
                                }
                            },
                            desafio: {
                                validators: {
                                    notEmpty: {
                                        message: 'Selecione pelo menos uma resposta'
                                    }

                                }
                            },

                            nome: {
                                validators: {
                                    notEmpty: {
                                        message: 'Preencha o campo'
                                    }

                                }
                            },

                            telefone: {
                                validators: {
                                    notEmpty: {
                                        message: 'Preencha o campo'
                                    }

                                }
                            },

                            empresa: {
                                validators: {
                                    notEmpty: {
                                        message: 'Preencha o campo'
                                    }

                                }
                            },

                            TipoEquipe: {
                                validators: {
                                    notEmpty: {
                                        message: 'Selecione uma opção'
                                    }

                                }
                            },

                            NumeroContas: {
                                validators: {
                                    notEmpty: {
                                        message: 'Selecione uma opção'
                                    }

                                }
                            },

                            dificuldade: {
                                validators: {
                                    notEmpty: {
                                        message: 'Selecione uma opção'
                                    }

                                }
                            },

                            GestaoVendas: {
                                validators: {
                                    notEmpty: {
                                        message: 'Selecione uma opção'
                                    }

                                }
                            },

                            Urgencia: {
                                validators: {
                                    notEmpty: {
                                        message: 'Selecione uma opção'
                                    }

                                }
                            },

                        }

                    });
                },

                validator: function () {
                    var fv = $('#validation').data('formValidation');

                    var $this = $(this);

                    // Validate the container
                    fv.validateContainer($this);

                    var isValidStep = fv.isValidContainer($this);
                    if (isValidStep === false || isValidStep === null) {
                        return false;
                    }

                    return true;
                },
                onFinish: function () {
                    $('#validation').submit();

                    alert('finish');

                }
            });

        })();

        $(document).ready(function () {

            $(".wizard-finish").click(function () {
                $('#validation').submit();
            });

        });
    </script>

    <script type="text/javascript" src="meta_arquivos/rd-js-integration_002.js"></script>
    <script type="text/javascript">
        var meus_campos = {
            'IDLink': 'IDLink',
            'nome': 'nome',
            'email': 'email',
            'empresa': 'empresa',
            'telefone': 'telefone',
            'cargo': 'cargo',
            'canalsimulador': 'canalsimulador',
            'canal': 'Canal'
        };
        options = {
            fieldMapping: meus_campos
        };
        RdIntegration.integrate('7189f8744694f2f659ae2d2e076922f8', 'Simulador_Meta', options);
    </script>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.money').mask('000.000.000.000.000,00', { reverse: true });
        });

        $('.money ').cleanVal();
    </script>

</body>

</html>